*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background: url(./435-4358778_deal-web-sakura-cherry-blossom.png);
    background-size: 100%; 
    background-attachment: fixed;
}

.top {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    background: rgb(228,110,192);
    background: linear-gradient(16deg, rgba(228,110,192,1) 24%, rgba(0,0,0,1) 52%);
    opacity: 0.7;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    background: rgb(242,118,204);
    background: linear-gradient(163deg, rgba(242,118,204,1) 0%, rgba(29,244,253,1) 88%);
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    text-align: center;
    text-transform: capitalize;
    opacity: 0.9;
}

#logo {
    width: 370px;
    height: 300px;
    background: url(./055cebba54fcd09aa759.png)
        no-repeat center top;
    background-size: 100%;
    margin-top: 117px;
}

h1 {
    align-self: baseline;
    color: rgb(248, 193, 156);
    text-shadow: 3px 5px 2px #474747;
}

.buttons_ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(242,118,204);
    background: linear-gradient(163deg, rgba(242,118,204,1) 0%, rgba(29,244,253,1) 88%);
    color: #fff;
    font-family: 'Dancing Script', cursive;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.75, -1, 0.5, -1);
    border: 1px red solid;
}

.date {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons_:hover {
    transition-duration: 0.1s;
    padding: 0px 50px;
}
#registr {
    margin-top: -134px;
}
#registrBut {
    width: 100px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    background-color: red;
    box-shadow: 2px 2px 4px red;
    position: absolute;
}

a {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    color: white;
}

article {
    display: flex;
    justify-content: space-between;

}

.barAsideLeft {
    width: 350px;
    height: 600px;
    background: rgb(107,188,200);
    background: linear-gradient(158deg, rgba(107,188,200,1) 42%, rgba(123,217,231,1) 51%, rgba(113,238,255,1) 59%);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
}

.sevices { 
    color: rgb(210, 240, 42);
    font-size: 1.9em;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    letter-spacing: 4px;
    text-shadow: 3px 5px 2px #797872;
    animation-name: service;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    left: 0px;
    position: relative;
}

@keyframes service{
    0%{
        left: 0px;
    }
    50%{
        color: rgb(255, 0, 0);
    }
    100%{
        left: 120px;
    }
}

.animation_ {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 24px;
    margin-top: 10px;
    font-family: cursive;
    color: rgb(236, 247, 247);
    width: 250px;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 5px 2px #474747, 19px 17px 6px rgba(206,89,55,0.2);
}

#aniF {
    animation-name: aniF;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    animation-timing-function: linear;
    left: 0px;
    width: 100%;
    position: relative;
}

@keyframes aniF{
    0%{
        left: 0px;
    }
    50%{
        color: rgb(255, 0, 0);
    }
    100%{
        left: 120px;
    }
}

#aniS {
    animation-name: aniS;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    animation-timing-function: linear;
    left: 0px;
    width: 100%;
    position: relative;
}

@keyframes aniS{
    0%{
        left: 0px;
    }
    50%{
        color: rgb(255, 0, 0);
    }
    100%{
        left: 120px;
    }
}

#aniT {
    animation-name: aniS;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    animation-timing-function: linear;
    left: 0px;
    width: 100%;
    position: relative;
    left: 0px;
}

@keyframes aniT{
    0%{
        left: 0px;
    }
    50%{
        color: rgb(255, 0, 0);
    }
    100%{
        left: 160px;
    }
}

#ani_4 {
    animation-name: aniS;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4.5s;
    animation-timing-function: linear;
    left: 0px;
    width: 100%;
    position: relative;
    left: 0px;
}

@keyframes ani_4{
    0%{
        left: 0px;
    }
    50%{
        color: rgb(255, 0, 0);
    }
    100%{
        left: 130px;
    }
}

.articleMidle {
    width: 650px;
    height: 400px;
    border: 3px rgb(247, 129, 207) inset;
    align-self: center;
    overflow-y: scroll;
    background-color: rgb(248, 165, 234);
    opacity: 0.9;
}

.barAsideRight {
    width: 300px;
    height: 200px;
    border: 1px black solid;
    align-self: center;
    
}

.reclam {
    background: url(./depositphotos_44627471-stock-photo-transparent.jpg)
        no-repeat top left;
    background-size: 100%;
    width: 200px;
    height: 200px;
    float: left;
}

#recl {
    float: left;
    width: 30px;
    font-size: 20px;
    font-weight: bold;
}

.art_1 {
    text-decoration: none;
    text-transform:  none;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 10px;
    padding: 5px;
    font-family: cursive;
}

.img {
    width: 627px;
    height: 350px;
    background: url(./2620.jpg)
        no-repeat center top;
    background-size: 100%;
}

#img_2 {
    width: 627px;
    height: 400px;
    background: url(./big-izobrazhenie_viber_2020-11-05_13-59-2446.jpg)
        no-repeat top center;
    background-size: 100%;
}

footer {
    height: 100px;
    width: 100%;
    background-color: rgb(214, 113, 164);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

